<div class="navbar">
  <a href="<%= admin_root_path %>" class="navbar-brand">
    <%= Beehive::Config[:site_title] %>
  </a>
</div>

<ul class="nav flex-column">
  <%= sidebar_nav_item 'Dashboard', admin_root_path, icon: 'home' %>

  <%= sidebar_nav_item 'Settings', admin_settings_path, icon: 'cog' do %>
    <%= sidebar_nav_item 'General', edit_admin_settings_general_path, text_icon: 'gl' %>
    <%= sidebar_nav_item 'Users', admin_users_path, text_icon: 'u' %>
  <% end %>
</ul>
