<%= render 'beehive/shared/page_header', title: 'Users' do %>
  <%= content_for :body do %>
    <p>Manage users that are able to manage contents of this website</p>
  <% end %>

  <%= content_for :actions do %>
    <a href="#" class="btn btn-primary">Add user</a>
  <% end %>
<% end %>

<div class="bh-page-content">
  <%= search_form_for @q, url: admin_users_path do |f| %>
    <div class="card" id="more-filters">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <%= f.label :email_cont, 'Email' %>
              <%= f.search_field :email_cont, class: 'form-control' %>
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <%= f.label :role_users_role_id_eq, 'Role ID' %>
              <%= f.search_field :role_users_role_id_eq, class: 'form-control' %>
            </div>
          </div>
        </div>

        <%= f.submit 'Filter results', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>

  <table class="table table-hover table-striped">
    <thead>
      <th><%= sort_link(@q, :id) %></th>
      <th><%= sort_link(@q, :email) %></th>
      <th>Roles</th>
      <th><%= sort_link(@q, :created_at) %></th>
      <th></th>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td>
          <% user.roles.each do |role| %>
            <span class="btn btn-tag"><%= role.name %></span>
          <% end %>
        </td>
        <td><%= user.created_at %></td>
        <td class="text-right">
          <a href="<%= edit_admin_user_path(user) %>" class="btn btn-primary btn-sm">
            <i class="fa fa-pen"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </table>

  <%== pagy_nav(@pagy) %>
</div>
