<!DOCTYPE html>
<html>
<head>
  <title>Beehive</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "beehive/application", media: "all" %>
  <%= javascript_include_tag "beehive/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
